{{#if showError}} <h4 class="error">Please select both a name and a timezone for your entry</h4>{{/if}}
  <h2>Add Timezone</h2>

  <p>{{view Ember.TextField value=model.name placeholder="Name Your Timezone"}}</p>

  <p>{{ view Ember.Select content=zones selection=selectedTimezone
     optionValuePath='content.minutesOffset' optionLabelPath='content.cityName' prompt="Select a Region"}}</p>

  <p><button {{action 'add'}}>Add Timezone</button>
    <button {{action 'cancel'}}>Cancel</button>
  </p>
